body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Global */

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Header */    

header {
    background-color: #fff;
    color: #000;
    padding-top: 0;
    min-height: 10px;
}

header a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
}

header li {
    font-family: 'Roboto', sans-serif;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0;
    margin-top: 18px;
    font-weight: 400;
}

header nav {
    float: left;
    margin-top: 0;
}  

/* Search */

#search {
    float: right;
}

#search input {
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 1px solid grey; 
}

#search button {
    margin: 10px 0 0 0;
    padding: 5px 8px 5px 8px;
    background: #fff;
    font-size: 14px;
    border: 1px solid grey;
    cursor: pointer;
}

/* Showcase */

#showcase {
    width: 90%;
    min-height: 70vh;
    margin-right: auto;
    margin-left: auto;
    background: url(../css/showcase_2.jpg) no-repeat;
    background-size: 1500px 750px;
    text-align: center;
}

#showcase h1 {
    float: left;
    margin-top: 170px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: #333;
}

/* Boxes */

#boxes h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

#boxes .box {
    display: inline-block;
    width: 30%;
    padding: 10px 22px 0 22px;
    background-color: #fff;
}

#boxes .box img {
    display: block;
    width: 460px;
}

/* About Me */

#about-me {
    width: 90%;
    min-height: 50vh;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    background: url(../css/about_me.jpg) no-repeat;
    background-size: 1600px 750px;
    text-align: center;
}

#about-me h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 60px;
    color: #fff;
}

#about-me p {
    margin: 80px, 0 0 0;
    padding: 0 100px 0 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

/* Contact */

#contact {
    width: 90%;
    min-height: 50vh;
    margin-right: auto;
    margin-left: auto;
    background: url(../css/contact.jpg) no-repeat;
    background-size: 1600px 750px;
    text-align: center;
}

#contact h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 90px;
    color: #000;
}

#contact p {
    padding: 0 80px 0 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}